/*brandstory_brand-video.css*/

@charset "utf-8";



ul:after{
	content:"";
	display: block;
	clear:both;
}

main{
	margin-top: 130px;
	background: url(../img/brand_title-banner.jpg) no-repeat top center/cover;
	width:100%;
	height: 600px;
	
}

main .main-txt{
	text-align: center;
	transform: translateY(200px);
	color:#000;
	position: relative;
}



main .main-txt h1{
	font-size: 55px;
	margin-bottom: 20px;
	letter-spacing: -3px;
    font-weight: 400;
	
}

main .main-txt p{
	font-size: 25px;
	letter-spacing: -2px;
}

section{
	margin-top: 100px;
	width:100%;
}

section .brand-video{
	width:800px;
	margin: 0 auto;
	height: 500px;
	/*background-color: yellow;*/
	position: relative;
	/*버튼을 위한 position*/
	
}

.brand-video .btn{
	display: block;
	width:50px;
	height: 50px;
	/*outline: 1px solid lime;*/
	position: absolute;
	top:55%;
	
}

.brand-video .left-btn{
	background: url(../img/brand-brandvideo-arrow-leftt.png);
	left:10px;
}
.brand-video .right-btn{
	background: url(../img/brand-brandvideo-arrow-rightt.png);
	right:0;
}

.brand-video .tabmenu{
	width:700px;
	margin: 0 50px;
	height: 500px;
	/*outline: 2px solid blue;*/
	float:left;
	position: relative;
	/*div를 위한 position*/
	
}

.brand-video .tabmenu >li{
	width:100px;
	/*outline: 2px solid red;*/
	text-align: center;
	/*margin-top: 30px;*/
	float:left;
	
}

.brand-video .tabmenu >li.active a{
	background-color: #fff;
	color:#00704a;
	font-weight: bold;
	border: 2px solid #00704a;
	box-sizing: border-box;
    border-bottom: none;
}


.brand-video .tabmenu >li>a{
   display: inline-block;
   font-size: 100%;
   background-color: #00704a;
   color:#fff;
   font-weight: 100;
   width:100px;
   height: 50px;
   line-height: 50px;
   text-align: center;
    position: relative;
	left:68px;
	top:13px;

}

.tabmenu>li>div{
	position: absolute;
	left:0;
	overflow: hidden;
	
}

.tabmenu>li.active div{
	width:700px;
    margin: 0 auto;
	height: 500px;
	/*outline: 3px solid lime;*/
	z-index: 999;
	
}

.kkd-ytb ul{
	width:500%;
}

.kkd-ytb ul li{
	width:20%;
	height: 500px;
	float:left;
	background: url(../img/brand-donut-movie-deco2222.png) top center/cover;
	position: relative;
	
}

.kkd-ytb ul li iframe{
	width:622px;
	height: 445px;
	position: relative;
	top:25px;
	left:9px;
	border-radius: 20px;
}

.brandpr-ytb ul{
	width:500%;
}
.brandpr-ytb ul li{
	width:20%;
	float:left;
	background: url(../img/brand-donut-movie-deco2222.png)
}
.brandpr-ytb ul li iframe{
	width:622px;
	height: 445px;
	position: relative;
	top:25px;
	left:9px;
	border-radius: 20px;
}


.donut-movie-film .donut-movie-film-wrap{
    width: 100%;
    height: 240px;
    overflow: hidden;
	margin:150px auto;
}

.donut-movie-film-wrap .movie-film-flow>li{
	width:2000px;
    margin: 0 auto;
   
	/*outline: 1px solid lime;*/
    background: url(../img/movi-film-around3.png) no-repeat top center/cover;
   
	
}

.flowimg{
    width: 100%;
    height: 215px;
    
}

.flowimg li{
	width:200px;
	height:200px;
	float:left;
	position:relative;
}

.flowimg li a{
	display:block;
}

.flowimg li a img{
	display:block;
	width:100%;
	position: absolute;
	left:0;
	top:28px;
}

