/*donut css*/

@charset "utf-8";



main {
	width: 100%;
	margin-top: 130px;
	/*min-width: 1280px;
	margin: 0 auto;*/
	height: 600px;
	background: url(../img/menu-donut-titlebanner.jpg) no-repeat top/cover;
}

main .main-txt{
	text-align: center;
	transform: translateY(250px);
	color:#000;
	position: relative;
}

main .main-txt h1{
	font-size: 55px;
	letter-spacing: -3px;
	
}

section {
	width: 100%;
	margin-top:100px;
}

.new-line {
	width: 1200px;
	margin: 0 auto;
	/*background-color: pink;*/
	
}


.inner {
	width: 100%;
	position: relative;
}

.menu-title-one{
	width:80px;
	height: 600px;
	/*outline: 2px solid blue;*/
	position: absolute;
	position: fixed;
	top:-220px;
	left:30px;
}


.menu-title-one li{
	width: 100%;
	margin: 0 auto;
	height: 80px;
	/*float:left;*/
	text-align: center;
	background-color: #cde1be;
	margin-bottom:10px;
	background-color: #cde1be;
	text-align: center;
	font-size:13px;
	font-family:'Pacifico', cursive;
	overflow: hidden;
    cursor: pointer;
}


.menu-title-one li a{
	color: #fff;
	display: block;
	margin-top: 10px;
}


.menu-title-one li.on{
	width:80px;
	height: 80px;
	background-color: #fff;
	border: 2px solid #cde1be;
	color:#cde1be;
	/*border-bottom: 0;*/
	box-sizing: border-box;
}

.menu-title-one li.on a{
	color:#cde1be;
}


.menu-title {
	margin-bottom: 40px;
	width: 150px;
	margin: 0 auto;
	height: 50px;
	background-color: #cde1be;
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-size:16px;
	font-family:'Pacifico', cursive;
}

.menu-title:before{
	content:"";
	display: block;
	position: absolute;
	top:20px;
	left:5%;
	width:90%;
	height: 2px;
	background-color:#cde1be;
	z-index: -99;
}

.new-menu {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

.new-menu .new-donut > li {
	width: 25%;
	float: left;
	text-align: center;
	position: relative;
	
}



.new-menu .new-donut .donut-info{
	position: absolute;
	top:-25px;
	left:15px;
}

.new-donut h3{
	margin-top: 30px;
}


/*donut-info 공통디자인*/
 .donut-info {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	cursor: pointer;
    display: none;
    

}

.new-menu .new-donut>li:hover .donut-info{
	display: block;
	
}

.donut-info > p {
	position: relative;
	top: 30%;
	left: 0;
	font-size: 14px;
}

.donut-info > p:first-child {
	font-size:16px;
	font-weight: bold;
}

.donut-info > p~p{
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: -1px;
	word-break: keep-all;
	
}

.basic-line .inner .menu-title{
	margin-top: 100px;
	
}

.basic-line{
	width: 1200px;
	margin: 0 auto;

}

.basic-line .basic-menu{
	padding: 50px;
	box-sizing: border-box;
}

.basic-menu .basic-donut>li{
	/*background-color: yellow;*/
	width:25%;
	float:left;
	text-align: center;
	position: relative;
	/*margin-top: 50px;*/
}


.basic-menu .basic-donut .donut-info{
	position: absolute;
	top:-25px;
	left:15px;
}

.basic-donut h3{
	margin-top: 30px;
}

.basic-menu .basic-donut>li:hover .donut-info{
	display: block;
	
}

.donut-info > p:last-child{
	border-top: 1px solid #fff;
	padding-top: 10px;
}



.nutrition{
	width:100%;
	/*outline: 3px solid red;*/
	
}

/*영양소정보 버튼 공통디자인*/

button{
	width: 100px;
	height: 30px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #cde1be;
	border: none;
	color:#fff;
	cursor: pointer;
	
}

 .nutrition-info{
	
	width: 100%;
    padding-top: 10px;
	opacity: 0;
    cursor:pointer;
    background: url(../img/out.png) no-repeat; 
    background-position: bottom 115px right 10px;
    box-sizing: border-box;
}

.nutrition-info table.material{
    width: 250px;
    height: 50px;
    border: 1px solid #cde1be;
    margin: 0 auto;
    margin-bottom: 15px;
}


.nutrition-info >table{
	margin-top: 15px;
    /*outline: 1px solid red;*/
	font-size: 13px;
	/*outline: 3px solid lime;*/
	border-collapse: collapse;
	/*border: 1px solid #ccc;*/
	background-color: white;
    width: 250px;
    margin: 0 auto;
}

.nutrition-info>table tr{
	font-size: 11px;

}

.nutrition-info>table tr:first-child{
   
    
}

.nutrition-info>table tr:first-child .wide{
    /*outline: 1px solid red;*/
}

.nutrition-info>table tr:first-child td{
    /*outline: 1px solid pink;*/
    
}


.nutrition-info>table tr th{
	background-color:#cde1be;
    
    
}


.nutrition-info>table tr th:first-child{
    width: 65px;
    word-break: keep-all;
}

.nutrition-info>table tr th:last-child{
	/*background-color: yellow;*/
	position: relative;
	right:12px;
	bottom: 25px;
	background-color: transparent;
	cursor: pointer;
}

.nutrition-info>table tr td{
   border: 1px solid #cde1be;
}